.cityWeather {
  flex: 1;
  height: 100%;
  padding: 3rem 2rem 6rem 7rem;

  .appName {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .description {
    width: 100%;
    display: flex;
    align-items: flex-end;

    .temperature {
      margin: 1rem 0;
      margin-right: 2rem;
      font-size: 8rem;
      font-weight: 700;
      line-height: 0.9;
    }

    .time {
      margin: 1rem 0;
      margin-right: 2rem;

      h2 {
        margin-bottom: 0.8rem;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
      }

      p {
        font-size: 1.1rem;
      }
    }

    .weatherDescription,
    .wind {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      margin-right: 2rem;

      svg {
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }

      span {
        font-size: 1.1rem;
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .description {
    flex: 1;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: space-between;
  }
}

@media screen and (max-width: 640px) {
  .cityWeather {
    padding: 2rem 2rem 4rem 4rem;
  }
}
