@import "../variables";
@import "../mixins";

.citySelector {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: 20rem;
  height: 100%;
  background-color: $color-black-transparent;

  display: flex;
  flex-direction: column;

  .citySelectorHeader {
    margin: 1.2rem 2rem 0.5rem 2rem;

    display: flex;
    align-items: center;

    span {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: -0.8rem;
      margin-right: 0.5rem;
      @include border_radius(50%);
      font-size: 1.2rem;
      color: $color-white;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.2s;

      &:hover {
        background-color: $color-black-transparent;
      }
    }

    h2 {
      font-size: 1rem;
      font-weight: 700;
    }
  }

  .citySelectorSearch {
    display: flex;
    justify-content: center;

    input[type="text"] {
      width: 100%;
      margin: 0 2rem;
      padding: 0.8rem 0.5rem 0.8rem 1.7rem;

      background-color: transparent;
      background-size: 11px;
      background-position: 0.3rem 1.1rem;
      background-repeat: no-repeat;

      border-bottom: 1px solid $color-gray-50;
      font-size: 1.1rem;
      color: $color-gray-50;

      &::placeholder {
        color: $color-gray-50;
      }
    }
  }

  .citySelectorSearchResult {
    flex: 1;
    min-height: 10rem;
    margin: 1rem 0;
    overflow-y: auto;

    ul li {
      padding: 1rem 2rem;
      cursor: pointer;
      color: $color-gray-50;
      font-size: 1rem;
      font-weight: 400;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.btnOpen {
  position: fixed;
  right: 2rem;
  top: 2rem;
  width: 4rem;
  height: 4rem;
  @include border_radius(50%);
  background-color: $color-black-transparent;
  color: $color-gray-50;
  font-size: 1.3rem;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s;

  &:hover {
    background-color: $color-black-transparent-30;
    color: $color-white;
  }
}

@media screen and (max-width: 640px) {
  .citySelector {
    background-color: $color-black-transparent-50;
  }
}
